.form_outerwrap {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}

.form_innerwrap img {
    width: 20%;
}

.form_innerwrap {
    padding: 40px;
    background-color: var(--form-bg-color);
    border: 1px solid var(--border-dark);
    text-align: center;
    margin-top: 100px;
    grid-column: 2;
    box-shadow: 0px 1px 5px 1px black;
}



.addBurrow_input_form {
    resize: none;
    color: var(--main-p-color);
    font-size: 1.1em;
    background: var(--navbar-bg-color);
    margin-top: 15px;
    background: var(--form-bg-color);
    width: 100%;
    border: 1px solid var(--border-dark);
    border-radius: 3px;
    outline: none;
}

.addBurrow_input_form:focus {
    border: 1px solid var(--border-light);
}

.submit_button {
    display: block;
    background-color: var(--button-bg-color);
    color: var(--navbar-font-color);
    font-size: 1.3em;
    margin: 0px auto;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--border-dark);
    box-shadow: 0px 1px 5px 1px black;
}

.submit_button:hover {
    background-color: rgb(80, 1, 1);
    box-shadow: inset 0px 0px 5px 2px black;
    transition: 0.5s;
    border-radius: 5px;
}

.submit_button:active {
    background-color: rgb(0, 211, 35);
    box-shadow: inset 0px 0px 5px 2px black;
    transition: 0.5s;
    border-radius: 5px;
}

@media only screen and (max-width: 780px) {
    .form_outerwrap {
        display: flex;
    }

    .form_innerwrap {
        width: 100%;
        padding: 40px 5px;
        margin-top: 120px;
    }

    .addBurrow_input_form {
        margin-bottom: 5px;
        height: 20px;
    }

    #addBurrowTextArea {
        resize: vertical;
        height: 20%;
    }
}